*{
    padding:0px;
    margin: 10px;
}
.navbar {
    /* background-color: #333; */
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
  }
.navbar h4{
    margin-left: 150px;
    color:green;
    font-weight:700;
    text-decoration: underline;

}
.navbar span{
    color:brown;
    text-decoration: underline;
}
.navbar button:hover{
    color:red;
    border-bottom: 2px solid green;
    /* text-decoration: underline; */
}
.navbar button{
    background-color: transparent;
    color: black;
    font-weight: 700;
    font-size: 24px;
    border: none;
    cursor: pointer;
    margin-right: 100px;
}
.navbar-right{
    display: flex;
}
.navbar-right button{
    border: 1px black solid;
    border-radius: 10px;
    /* padding:5px; */
}
.navbar-right i{
   padding:5px;
}
.navbar-right button:hover{
    color: blue;
    border: none;
 }
.toggle-btn{
    display: none;
}

/* main content styling */
.main-content{
    display: flex;
    /* flex-direction: row; */
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}
.left-box{
    width: 45%;
    /* height:600px; */
    /* border: 1px red solid; */
}
.left-box h1{
    color: blue;
    font-size: 90px;
    margin: 50px 130px;
}
.left-box span{
    color:orange
}
.left-box h5{
    margin:10px 140px;
    font-weight: 700;
}
.btn-grp{
    margin:50px 110px;
}
.btn-grp2{
    margin: 40px 50px;
}
.btn-grp2 i{
    font-size: 60px;
    background-color: azure;
    border: 1px solid antiquewhite;
    padding: 20px;
    border-radius: 50%;
}
.btn-grp2 button:hover{
    color: palevioletred;
    background-color: white;
}
.btn-grp2 i:hover{
    background-color: rgb(78, 242, 215);
}
.owner{
    margin-top: -60px;
    margin-left: 400px;
    font-weight: 700;
    font-style: italic;
    font-size: 12px;
    text-decoration: underline;
}
.right-box{
    width: 55%;
    height:600px;
    /* border: 1px blue solid; */
}
.right-box img{
    width:100%;
    height: 100%;
    border-radius: 10px;
}
.menu-title{
    text-align: center;
    font-weight: bolder;
    border-bottom: 5px red solid;
}
li{
    font-family: 'Courier New', Courier, monospace;
    font-weight: 600;
}
.item-price{
    font-size:24px;
    color:green;
    /* text-decoration: underline; */
    font-weight: bolder;
}
.item-name{
    font-size:24px;
    color:blue;
    text-decoration: underline;
}
.menu-img{
    width:300px;
    height:200px;
    border-radius: 10px;
    border-right: 2px red solid;
    cursor: pointer;
}
#menu-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    filter: blur(2px);
}
.hrLine{
    border: 5px solid magenta;
}
#menu-container:hover{
    filter: blur(0px);
}
.order-status{
    margin: 60px 20px;
}
.order-status span{
    color:green;
    font-weight: bolder;
}
.payment-status{
    margin:60px 10px;

}
.not-done{
    color:red;
}
.done{
    color:green;
}
.thankyou-msg{
    margin-top: 50px;
    font-size: 24px;
    color:orangered;
    font-weight: bolder;
}
#orderDetails li{
  font-size:20px;
  color:blue;
}
.heart{
    color:red;
    font-size: 80px;
}
.location-img{
    width:100%;
}





  /* media queries */
@media screen and (max-width: 768px){
    .navbar-left, .navbar-right{
        display: none;
}
.owner{
    margin: 0px;
    font-size:18px;
    width: 200%;
    margin-left: -50px;
}
.left-box h5{
    margin-left: -80px;
    width: 200%;
    font-size: 16px;
}
.btn-grp{
    display: flex;
    justify-content: space-around;
    margin: 0px;
    margin-top: 20px;
}
.btn-grp2{
    display: flex;
    justify-content: space-around;
    margin: 0px;
}
.right-box img{
    width:140%;
    margin: 0px;
    padding: 0px;
    /* margin-left: -40px */
}
.navbar h4{
      margin-left: 10px;
}
.navbar button.toggle-btn{
    display: block;
}
.navbar.responsive .navbar-left, .navbar i, .navbar.responsive{
    display: flex;
    flex-direction: row;
    align-items:center;
    /* width:00px; */
    margin-left: 10px;
    padding: 0px;
    font-size: 30px;
    gap: 30px;
}
.navbar-left button{
    /* width:80px; */
    font-size: 20px;
}
.navbar-right button{
    display: none;
}
.navbar.responsive .navbar-left button, .navbar.responsive .navbar-right button {
    margin: 0px 0px;
}
.left-box h1{
    color: blue;
    font-size: 20px;
    margin: 20px 0px;
}
.thankyou-msg{
    margin-top: 10px;
    font-size: 16px;
    color:orangered;
    font-weight: bolder;
}
#orderDetails li{
  font-size:15px;
  color:blue;
}
.order-status{
    margin: 20px 10px;
    font-size: 16px;
}
.payment-status{
    margin:20px 10px;
    font-size: 16px;

}
}
  